In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline  

pd.set_option('display.max_columns', None)

In [18]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import mean_squared_error

In [30]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import TomekLinks

In [3]:
data = pd.read_csv('C:/Users/ivanr/Downloads/customer_churn.csv')
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [6]:
numerical = data[['tenure', 'SeniorCitizen', 'MonthlyCharges']]

In [7]:
target = data['Churn']

In [13]:
y = pd.DataFrame(target)

In [14]:
y

     Churn
0       No
1       No
2      Yes
3       No
4      Yes
...    ...
7038    No
7039    No
7040    No
7041   Yes
7042    No

[7043 rows x 1 columns]

In [16]:
transformer = StandardScaler().fit(numerical)

In [17]:
scaled_num = transformer.transform(numerical)

In [20]:
classification = LogisticRegression(random_state=0, solver='lbfgs',
                        multi_class='ovr').fit(scaled_num, data['Churn'])
classification.score(scaled_num, data['Churn'])

0.7911401391452506

In [22]:
X_train, X_test, y_train, y_test = train_test_split(scaled_num, data['Churn'], test_size=0.2, random_state=0)

In [24]:
smote = SMOTE(sampling_strategy=0.5, random_state=0)

In [25]:
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

In [27]:
model = LogisticRegression()
model.fit(X_train_resampled, y_train_resampled)

LogisticRegression()

In [33]:
accuracy = model.score(X_test, y_test)
accuracy

0.7544357700496807

In [34]:
tomek = TomekLinks()

In [35]:
X_train_resampled, y_train_resampled = tomek.fit_resample(X_train, y_train)

In [36]:
model = LogisticRegression()
model.fit(X_train_resampled, y_train_resampled)

LogisticRegression()

In [37]:
accuracy = model.score(X_test, y_test)
accuracy

0.7615330021291696